.add-catalog {
  padding-top: 4px;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding-top: 68px;
    padding-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 77px;
    padding-bottom: 0;
  }
}

.add-catalog-wrap {
  margin-top: 45px;

  @media (min-width: $tablet-width) {
    margin-top: 80px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 895px 1fr;
    margin-top: 93px;
    gap: 80px;
    margin-bottom: 87px;
  }
}

.add-catalog__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    border: 1px solid #cdcdcd;
    padding: 22px 38px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    border: none;
  }
}

.add-catalog__item {
  position: relative;
  margin-bottom: 30px;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
    top: -12px;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;

    &:last-child {
      margin-bottom: 4px;
    }

    &::before {
      display: none;
    }

    &:not(:last-child)::after {
      position: absolute;
      content: "";
      width: calc(100% + 76px);
      height: 1px;
      background-color: #ebebeb;
      bottom: -28px;
      left: -38px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;

    &::before {
      display: block;
      top: -15px;
      width: 100%;
      left: 0;
    }

    &:not(:last-child)::after {
      display: none;
    }

    &:last-child::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #ebebeb;
      bottom: -17px;
      left: 0;
    }
  }
}

.add-catalog__gift {
  position: relative;
  margin-top: 55px;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
    top: -36px;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    margin-top: 70px;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: -15px;
  }
}
