.additions {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto auto;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 280px auto 240px;
    align-items: center;
    gap: 43px;
  }
}

.additions__title {
  font-family: $accent-font;
  font-size: 16px;
  line-height: 20px;
  color: $card-title-color;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: left;
    font-size: 20px;
    line-height: 24px;
  }
}

.additions__description {
  width: 100%;
  margin: 10px 0 12px 0;
  font-size: 14px;
  line-height: 100%;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-top: 8px;
  }

  @media (min-width: $desktop-width) {
    margin: 10px 0 0 0;
  }
}

.additions__description-term {
  padding: 0;

  @media (min-width: $tablet-width) {
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.additions__description-data {
  text-align: right;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 91px;
  }

  @media (min-width: $desktop-width) {
    width: 42px;
    text-align: left;
  }
}

.additions__button {
  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    margin-top: 8px;
  }

  @media (min-width: $desktop-width) {
    grid-column: auto;
    margin-top: 0;
    margin-left: -4px;
  }
}
