.all-programs {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 6.5%;
  }
}

.all-programs__program {
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: 570px;
  }
}
