.all-programs {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 6.5%;
  }
}

.all-programs__program {
  margin: 20px 0;

  @media (min-width: $desktop-width) {
    min-width: 570px;
  }
}
