.catalog__list {
  @include list-reset;
  margin-top: 41px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
  }
}

.catalog__item {
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
