.catalog {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 45px;
  }
}

.catalog__list {
  @include list-reset;
  margin-top: 61px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    row-gap: 70px;
    column-gap: 60px;
    margin-top: 93px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 80px;
    row-gap: 73px;
  }
}

.catalog__item {
  position: relative;
  margin-bottom: 45px;

  &::before {
    position: absolute;
    content: "";
    width: calc(100% + 40px);
    height: 1px;
    background-color: #ebebeb;
    top: -20px;
    left: -20px;
  }

  @media (min-width: $tablet-width) {
    width: 324px;
    margin-bottom: 0;
    border-top: none;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}
