.footer {
  position: relative;
  background-color: $bg-color;
}

.footer__address {
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 75px;
  }
}


.footer__wrap {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 66px;
  }
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__socials {
  margin-top: 37px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.footer__developed {
  margin-top: 42px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.footer__logo {
  text-decoration: none;
}

.footer__map {
  iframe {
    display: block;
  }
}
