.footer {
  position: relative;
}

.footer__address {
  @media (min-width: $tablet-width) {
    margin-top: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 95px;
  }
}


.footer__wrap {
  background-color: $bg-color;
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 55px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 68px 0;
  }
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer__socials {
  margin-top: 19px;
  width: 100%;
  padding: 20px 0 19px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin: 0;
    border: none;
    width: auto;
    padding: 0;
    justify-self: center;
  }
}

.footer__developed {
  margin-top: 19px;

  @media (min-width: $tablet-width) {
    margin: 0;
    justify-self: end;
  }
}

.footer__logo {
  text-decoration: none;

  &-text {
    display: block;
    fill: #111111;
  }

  &:hover .footer__logo-text {
    fill: #3e3e3e;
  }

  &:active .footer__logo-text {
    fill: #6b6b6b;
  }
}

.footer__map {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 362px;
  border: 0;
  background-color: $bg-color;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
