.header {
  padding: 13px 0 15px 0;
  border-bottom: 1px solid #e6e6e6;

  &--main-page {
    border: none;

    @media (min-width: $desktop-width) {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;

      .main-nav {
        color: #ffffff;

        .main-nav__link--active {
          text-decoration-color: inherit;
        }
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding: 25px 0 15px 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 0 29px 0;
  }
}

.header__wrap {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
