.header {
  padding: 13px 20px 14px;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: block;
  margin: auto 0;
}

.header__menu {
  display: none;
  position: absolute;
  top: 65px;
  right: 0;
  width: 100%;
  background-color: #ffffff;
}
