.hero {
  position: relative;

  @media (min-width: $desktop-width) {
    min-height: 694px;
    background-image:
      linear-gradient(to right,
      rgb(255, 255, 255) 0,
      rgb(255, 255, 255) calc(50% - 520px),
      rgba(104, 183, 56, 0.85) calc(50% - 520px),
      rgba(104, 183, 56, 0.85) calc(50% + 520px),
      rgb(98, 166, 58) calc(50% + 520px),
      rgb(98, 166, 58) 100%),
      url("../img/image-background-desktop.jpg");

    background-repeat: no-repeat;
    background-position: calc(50% + 520px) top;
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(to right,
        rgb(255, 255, 255) 0,
        rgb(255, 255, 255) calc(50% - 520px),
        rgba(104, 183, 56, 0.85) calc(50% - 520px),
        rgba(104, 183, 56, 0.85) calc(50% + 520px),
        rgb(98, 166, 58) calc(50% + 520px),
        rgb(98, 166, 58) 100%),
        url("../img/image-background-desktop@2x.jpg");
    }
  }
}

.hero__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 302px;

    background-image:
      linear-gradient(to right,
      #63a63a 0,
      #63a63a calc(50% - 159px),
      rgba(104, 183, 56, 0.85) calc(50% - 159px),
      rgba(104, 183, 56, 0.85) calc(50% + 159px),
      #63a63a calc(50% + 159px),
      #63a63a 100%),
      url("../img/image-background-mobile.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(to right,
        #63a63a 0,
        #63a63a calc(50% - 159px),
        rgba(104, 183, 56, 0.85) calc(50% - 159px),
        rgba(104, 183, 56, 0.85) calc(50% + 159px),
        #63a63a calc(50% + 159px),
        #63a63a 100%),
        url("../img/image-background-mobile@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    align-items: start;
    background: none;
    margin: 0 30px 526px 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 110px;
  }
}

.hero__text {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    align-items: start;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    width: 420px;
  }
}

.hero__heading {
  color: #ffffff;
  margin: 28px 0 0 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: #000000;
    text-align: left;
    margin-top: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 224px;
  }
}

.hero__lead {
  color: #ffffff;
  font-family: $accent-font;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  margin: 23px 0 0 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: #000000;
    text-align: left;
    margin: 38px 0 0 0;
    font-size: 20px;
    line-height: 120%;
  }
}

.hero__img {
  display: block;
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 709px;
    height: 609px;
    top: 251px;
    left: calc(50% - 354px);
    z-index: -10;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    top: 144px;
    left: calc(50% - 218px);
    z-index: 0;
  }
}

.hero__button {
  margin-top: 3px;
  width: calc(100% - 40px);

  @media (min-width: $tablet-width) {
    width: auto;
    margin-top: 49px;
    margin-left: 91px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 51px;
    margin-left: 80px;
  }
}
