.hero {
  position: relative;

  @media (min-width: $desktop-width) {
    height: 694px;
    background-image:
      linear-gradient(to right,
      transparent 0,
      transparent calc(50% - 520px),
      rgba(104, 183, 56, 0.85) calc(50% - 520px),
      rgba(104, 183, 56, 0.85) calc(50% + 520px),
      rgb(98, 166, 58) calc(50% + 520px),
      rgb(98, 166, 58) 100%),
      url("../img/image-background-desktop.jpg");

    background-repeat: no-repeat;
    background-position: calc(50% + 520px) top;
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(to right,
        transparent 0,
        transparent calc(50% - 520px),
        rgba(104, 183, 56, 0.85) calc(50% - 520px),
        rgba(104, 183, 56, 0.85) calc(50% + 520px),
        rgb(98, 166, 58) calc(50% + 520px),
        rgb(98, 166, 58) 100%),
        url("../img/image-background-desktop@2x.jpg");
    }
  }
}

.hero__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 302px;
  margin-bottom: 138px;

  background-image:
    url("../img/image-background-mob.jpg"),
    linear-gradient(#63a63a 0 302px, rgba(104, 183, 56, 0) 302px 100%);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/image-background-mob@2x.jpg"),
      linear-gradient(#63a63a 0 302px, rgba(104, 183, 56, 0) 302px 100%);
  }

  @media (min-width: $tablet-width) {
    height: auto;
    align-items: start;
    background: none;
    margin: 0 30px 526px 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 110px;
  }
}

.hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: start;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.hero__heading {
  color: #ffffff;
  margin: 27px 0 0 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: #000000;
    text-align: left;
    margin-top: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 201px;
  }
}

.hero__lead {
  color: #ffffff;
  font-family: $accent-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 25px 0 164px 0;

  @media (min-width: $tablet-width) {
    color: #000000;
    text-align: left;
    margin: 40px 0 0 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.hero__img {
  position: absolute;
  top: 167px;
  left: calc(50% - 140px);

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    top: 266px;
    left: calc(50% - 354px);
    z-index: -10;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    top: 120px;
    left: calc(50% - 165px);
    z-index: 0;
  }
}

.hero__button {
  margin-top: 138px;

  @media (min-width: $tablet-width) {
    margin-top: 52px;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}
