.instraction {
  padding: 24px 0 28px 0;

  @media (min-width: $tablet-width) {
    padding: 47px 0 101px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 73px 0 125px 0;
  }
}

.instraction__title {
  margin: 0;
}

.instraction__list {
  @include list-reset;
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 133px;
    column-gap: 20.6%;
    margin-top: 71px;
    margin-right: 73px;
    counter-reset: li;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto auto auto auto;
    column-gap: 6.6%;
    margin-right: 0;
    margin-top: 72px;
  }
}

.instraction__item {
  position: relative;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    min-width: 230px;
    margin-bottom: 0;

    &::after {
      counter-increment: li;
      content: counter(li);
      position: absolute;
      font-family: $accent-font;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
      top: -40px;
      right: 5px;
      z-index: -1;
    }

    &:first-child::after {
      right: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      right: -1px;
    }

    &:first-child::after {
      right: 22px;
    }
  }
}

.instraction__item-text {
  margin: 0;
  padding-top: 3px;

  @media (min-width: $tablet-width) {
    padding-top: 12px;
  }
}

.instraction__item--leaf::before,
.instraction__item--water::before,
.instraction__item--meal::before,
.instraction__item--time::before {
  content: "";
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  background-size: 30px 32px;
  background-color: $primary-color;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.instraction__item--leaf::before {
  background-image: url("../img/stack.svg#leaf");
}

.instraction__item--water::before {
  background-image: url("../img/stack.svg#water");
}

.instraction__item--meal::before {
  background-image: url("../img/stack.svg#utensil");
}

.instraction__item--time::before {
  background-image: url("../img/stack.svg#alarm");
}
