.main-nav {
  position: relative;
  color: #000000;

  @media (min-width: $tablet-width) {
    max-width: 70%;
  }
}

@media (max-width: $tablet-width) {
  .main-nav--no-js {
    & .main-nav__toggle {
      display: none;
    }

    & .main-nav__list {
      position: static;
      padding: 14px 0 0 0;
      margin: 0 -20px;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0;
  width: 23px;
  height: 23px;
  top: -32px;
  right: 0;
  background: transparent;
  border: none;
  cursor: pointer;

  &::before {
    content: "";
    position: relative;
    display: block;
    height: 18px;
    width: 18px;
    background: url("../img/stack.svg#menu-opened") no-repeat right center;
  }

  &--closed {
    + .main-nav__list {
      display: none;
    }

    @media (min-width: $tablet-width) {
      + .main-nav__list {
        display: flex;
      }
    }

    &::before {
      content: "";
      display: block;
      height: 2px;
      width: 24px;
      background-color: #000000;
      box-shadow: 0 8px 0 0 #000000, 0 -8px 0 0 #000000;
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  @include list-reset;

  position: absolute;
  top: 14px;
  min-width: 320px;
  left: -20px;
  right: -20px;
  z-index: 10;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    position: static;
    padding: 2px 5px 0 0;
    display: flex;
    max-width: 480px;
    column-gap: 34px;
    row-gap: 20px;
    flex-wrap: wrap;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    padding: 4px 0 0 0;
  }
}

.main-nav__item {
  text-align: center;
  padding: 22px 0 20px 0;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border: 0;
    padding: 0;
  }
}

.main-nav__link {
  font-family: $accent-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: inherit;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;

    &--active {
      text-decoration: underline $primary-color 2px;
      text-underline-offset: 8px;
      text-underline-position: under;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
