.product {
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 37px 40px 37px;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: calc(100% - 71px);
      background-color: $bg-color;
      top: 71px;
      left: 0;
      z-index: -10;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 38px 40px 38px;
  }


  &--more {
    position: relative;
    background: none;

    .product__title {
      margin-top: 29px;
      text-align: center;
      padding: 0;
    }

    .product__description {
      margin-top: 11px;
    }

    .product__button {
      margin-top: 21px;
    }

    &::after {
      position: absolute;
      content: "";
      width: calc(100% + 40px);
      height: 1px;
      background-color: #ebebeb;
      bottom: -25px;
      left: -20px;
    }

    @media (min-width: $tablet-width) {
      margin-top: 72px;
      padding-top: 50px;
      border: 1px solid #d3d3d3;
      display: flex;
      flex-direction: column;

      &::after {
        display: none;
      }

      .product__title {
        padding: 0 50px;
        margin-top: 49px;
        line-height: 24px;
      }

      .product__description {
        margin-top: 22px;
        padding: 0 30px;
        line-height: 19px;
      }

      .product__button {
        margin-top: 80px;
      }
    }

    @media (min-width: $desktop-width) {
      padding-top: 47px;

      .product__title {
        padding: 0 10px;
        margin-top: 40px;
      }

      .product__description {
        margin-top: 25px;
        padding: 0;
      }

      .product__button {
        margin-top: 90px;
      }
    }
  }
}

.product__container {
  display: grid;
  grid-template-columns: 140px auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.product__title {
  font-family: $accent-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $card-title-color;
  text-transform: uppercase;
  margin: 0;
  padding: 1px 60px 0 0;

  @media (min-width: $tablet-width) {
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    padding: 0 50px;
    margin-top: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 12px;
    padding: 0 10px;
  }
}

.product__description {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  border-spacing: 0;
  margin: 17px 0 0 0;

  @media (min-width: $tablet-width) {
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
  }

  &::after {
    display: none;
  }

  @media (min-width: $desktop-width) {
    margin-top: 19px;
    padding: 0;
    line-height: 25px;
  }
}

.product__description-row {
  display: flex;
  justify-content: space-between;
  grid-row: 10px;


  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.product__description-data {
  text-align: right;
}

.product__button {
  margin-top: 18px;
  grid-column: 1/3;

  @media (min-width: $tablet-width) {
    margin-top: 33px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 37px;
  }
}

.product__img {
  grid-row: 1/3;
  margin: auto;

  @media (min-width: $tablet-width) {
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    display: block;
  }
}

.product__plus {
  position: relative;
  padding-top: 30px;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    top: 19px;
    left: calc(50% - 15px);
  }

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    transform: rotate(90deg);
    top: 19px;
    left: calc(50% - 15px);
  }

  @media (min-width: $tablet-width) {
    padding-top: 60px;

    &::before {
      width: 60px;
      left: calc(50% - 30px);
      top: 29px;
    }

    &::after {
      width: 60px;
      left: calc(50% - 30px);
      top: 28px;
    }
  }
}
