.selection {
  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.selection__wrap {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: start;
  }
}

.selection__title {
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 45px;
  }
}

.selection__lead {
  font-family: $accent-font;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin: 37px 0 0 0;

  @media (min-width: $tablet-width) {
    margin-top: 54px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 55px;
  }
}

.selection__field-group {
  border: none;
  padding: 0;
  margin: 40px 0 0 0;

  @media (min-width: $tablet-width) {
    margin: 65px 0 0 0;
  }

  &--add {
    margin-top: 23px;

    @media (min-width: $tablet-width) {
      margin-top: 68px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 72px;
    }
  }

  &--program {
    position: relative;
    margin-top: 51px;

    &::before {
      position: absolute;
      content: "";
      width: calc(100% + 40px);
      height: 1px;
      background-color: #ebebeb;
      top: -30px;
      left: -20px;
    }

    &::after {
      position: absolute;
      content: "";
      width: calc(100% + 40px);
      height: 1px;
      background-color: #ebebeb;
      bottom: -13px;
      left: -20px;
    }

    @media (min-width: $tablet-width) {
      margin-top: 75px;
      border: 1px solid #e7e7e7;
      padding: 26px 27px 32px 27px;

      &::before,
      &::after {
        display: none;
      }
    }

    @media (min-width: $desktop-width) {
      margin: 65px 0 0 0;
      padding: 30px 27px 30px 27px;
    }
  }

  &--owner {
    @media (min-width: $desktop-width) {
      margin: 70px 0 0 0;
    }
  }
}

.selection__list {
  @include list-reset;

  &--add {
    margin-top: 41px;

    @media (min-width: $tablet-width) {
      margin-top: 60px;
      display: grid;
      align-items: start;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 40px 40px;
      column-gap: 60px;
      row-gap: 33px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 78px;
      grid-template-rows: 40px;
    }
  }

  &--owner {
    margin-top: 35px;
    margin-bottom: -15px;

    @media (min-width: $tablet-width) {
      margin-top: 74px;
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: -13px;
    }
  }

  &--comment {
    margin-top: 38px;

    @media (min-width: $tablet-width) {
      margin-top: 87px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 77px;
    }
  }
}

.selection__item:not(:last-child) {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.selection__send {
  margin-top: 30px;

  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-top: 47px;
    grid-template-columns: 1fr 1fr;
    gap: 58px;
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 57px;
    gap: 78px;
    margin-bottom: 80px;
  }
}

.selection__note {
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-top: 12px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-top: 13px;
  }
}
