.slider {
  position: relative;
  width: 280px;
  height: 256px;
  display: grid;
  grid-template-columns: 140px 1fr;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
    grid-template-columns: 280px 1fr;
  }
}

.slider__wrap {
  position: relative;
  overflow: hidden;
  z-index: -10;
}

.slider__img {
  position: absolute;
  max-width: fit-content;

  &--after {
    left: -140px;

    @media (min-width: $tablet-width) {
      left: -280px;
    }
  }
}


.slider__button {
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  margin: auto 0;
  left: 120px;
  bottom: 0;
  top: 0;
  border-radius: 100%;
  border: 2px solid #666666;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    left: 260.5px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 256px;
    top: -108px;
    background-color: #666666;
    border-radius: 2px;
    z-index: -10;

    @media (min-width: $tablet-width) {
      height: 512px;
      top: -236px;
    }
  }

  &::after {
    content: "";
    margin: auto;
    width: 24px;
    height: 18px;
    mask-image: url("../img/stack.svg#slider-button");
    background-color: #666666;
  }
}

// Состояния
.slider__button:hover::before,
.slider__button:hover::after {
  background-color: $primary-color;
}

.slider__button:hover {
  border: 2px solid $primary-color;
}

.slider__button:active::before,
.slider__button:active::after {
  background-color: $primary-color--hover;
  opacity: 0.6;
}

.slider__button:active {
  border: 2px solid rgba(95, 173, 46, 0.6);
}
