.slider {
  position: relative;
  width: 280px;
  height: 256px;
  display: grid;
  grid-template-columns: 140px 1fr;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
    grid-template-columns: 280px 1fr;
  }
}

.slider__img__wrap {
  position: relative;
  overflow: hidden;
  z-index: -10;
}

.slider__img {
  position: absolute;
  max-width: fit-content;

  &--after {
    left: -140px;

    @media (min-width: $tablet-width) {
      left: -280px;
    }
  }
}


.slider__button {
  position: absolute;
  display: flex;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  top: 106px;
  left: 120.5px;
  border-radius: 100%;
  border: 2px solid #666666;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: 234px;
    left: 260.5px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 256px;
    background-color: #666666;
    top: -108px;
    left: 16px;
    border-radius: 2px;
    z-index: -10;

    @media (min-width: $tablet-width) {
      height: 512px;
      top: -234px;
    }
  }

  &::after {
    content: "";
    margin: auto;
    width: 24px;
    height: 18px;
    mask-image: url("../img/icons/sprite.svg#slider-button");
    background-color: #666666;
  }
}
