.socials__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.socials__link {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  fill: #666666;

  &:hover .socials__img {
    fill: $primary-color;
  }

  &:active .socials__img {
    opacity: 0.3;
  }
}
