.socials__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socials__link {
  display: flex;
  align-content: center;

  svg {
    fill: #666666;

    &:hover {
      fill: $primary-color;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
