.welcome {
  display: flex;
  justify-content: space-between;
  padding: 26px 0;

  @media (min-width: $tablet-width) {
    padding: 61px 40px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    background-color: #ffffff;
    padding: 60px 80px;
    gap: 87px;
  }
}

.welcome__dillers {
  font-family: $accent-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.welcome__address {
  font-style: normal;
  line-height: 20px;

  p {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    text-align: right;

    p {
      margin: 20px 0 0 0;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}
