.welcome {
  display: flex;
  padding: 26px 20px;
  background-color: #ffffff;
}

.welcome__dillers {
  max-width: 140px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

.welcome__address {
  font: inherit;
  line-height: 20px;
}
