.logo {
  display: grid;
  grid-template-columns: 33px 1fr 33px;
  align-items: center;
  gap: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 20px;
  }
}

.logo__text {
  justify-self: center;
}
