.logo {
  display: grid;
  grid-template-columns: 33px 1fr 33px;
  align-items: center;
  justify-items: center;

  @media (min-width: $tablet-width) {
    display: block;

    &:hover {
      opacity: 80%;
    }

    &:focus {
      opacity: 80%;
    }

    &:active {
      opacity: 60%;
    }
  }
}

.logo__img {
  display: block;
  width: 33px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.logo__text {
  fill: #111111;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.logo:hover .logo__text {
  fill: #3e3e3e;
}

.logo:active .logo__text {
  fill: #6b6b6b;
}
