.main-title {
  font-family: $accent-font;
  font-size: 36px;
  line-height: 100%;
  font-weight: 400;
  margin: 0;
  color: #000000;

  @media (min-width: $tablet-width), (min-width: $desktop-width) {
    font-size: 60px;
  }
}
