.section-title {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  width: 100%;
  gap: 21px;
  font-family: $accent-font;
  font-size: 24px;
  font-weight: normal;
  line-height: 26px;
  margin: 0;
  padding: 0;
  color: #000000;

  &::after {
    content: "";
    width: calc(100% + 20px);
    height: 2px;
    background-color: $primary-color;
    margin-top: 14px;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    gap: 40px;
    width: calc(100% + 5px);

    &::after {
      width: 100%;
      margin-top: 21px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 7px;
      right: 103.4%;
      width: 100%;
      height: 2px;
      background-color: $primary-color;
      margin-top: 14px;
    }

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      width: calc(100% + 110px);
      margin-top: 21px;
    }

    &::before {
      right: 103.4%;
    }
  }
}
