// Цвета
$main-text-color: #444444;
$primary-color: #68b738;
$primary-color--hover: #5eaa2f;
$bg-color: #f2f2f2;
$bg-color-secondary: #ebebeb;
$card-title-color: #222222;

// Шрифты
$accent-font: "Oswald", "Arial", sans-serif;

// Экран
$tablet-width: 768px;
$desktop-width: 1440px;
