// Цвета
$primary-color: #68b738;
$bg-color: #f2f2f2;
$card-title-color: #222222;
$form-color: #444444;

// Шрифты
$accent-font: "Oswald", "Arial", sans-serif;

// Экран
$tablet-width: 768px;
$desktop-width: 1439px;
